<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="src/css/main.css">
</head>
<body ng-app="Mathematics">

  <div ng-controller="LoginController" ng-cloak layout="column" layout-fill style="background:none;">
    <div class="login-panel md-whiteframe-10dp" hide-xs>
      <md-toolbar class="md-warn md-hue-2">
        <div class="md-toolbar-tools">

          <h2 class="md-flex">Mathematics Secure Resource</h2>
          <span flex></span>
          <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-font-set="material-icons"> lock </md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <div layout="row">
        <div flex=33 layout="column" layout-align="center center">
          <div><img src="http://www.math.fsu.edu/res/img/fsumathseal_small_color_150.png"></div>
        </div>
        <div flex>
          <md-content style="padding:30px;" md-theme="docs-dark">
            <form name="loginForm">
                <md-input-container class="md-block">
                  <label>Username</label>
                  <input ng-model="user.username" id="username">
                </md-input-container>
                <md-input-container class="md-block" id="special">
                  <label>Password</label>
                  <input ng-model="user.password" type="password" id="password">
                </md-input-container>
                <div layout="row">
                  <span flex></span>
                  <md-button class="md-primary">Forgot Password</md-button>
                  <md-button class="md-raised md-warn md-hue-2" ng-click="login()">Login</md-button>
                </div>
            </form>
          </md-content>
        </div>
      </div>
    </div>

    <div hide show-xs layout="row" layout-fill layout-align="center center">
      <div flex style="padding:20px">
          <div style="width:100%;">
            <md-content style="padding:30px;">
 <div style="text-align:center;"><img src="http://www.math.fsu.edu/res/img/mathematics_2015_text_50.png" width="95%"></div>
              <form name="loginForm">
                <md-input-container class="md-block">
                  <label>Username</label>
                  <input ng-model="user.username">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input ng-model="user.password" type="password">
                </md-input-container>
                <div layout="column">
                  <md-button class="md-raised md-warn md-hue-2" ng-click="login()">Login</md-button>
                  <md-button class="md-primary">Forgot Password</md-button>
                </div>
              </form>
            </md-content>
          </div>
        </div>
      </div>
    </div>
  </div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/autofill-event/src/autofill-event.js"></script>
<script src="src/app/app.js"></script>
<script src="src/app/controllers/login.js"></script>
<script src="src/app/services/auth.js"></script>
</body>
</html>
